<footer class="page-footer blue-grey darken-4">
  	<div class="row">
	  		<div class="col s12 m12 l4">
	  			<h5 translate="TITULO11"></h5>
          <p class="text-direction">Av. lomas de Toledo #456 Col. Industrial C.P. 09824, CDMX.<p>
	  		</div>
	  		<div class="col s12 m12 l4" >
	  			<p class="texto" translate="TITULO12"></p>
          <ul>
            <li class="icon-social"><a class="grey-text text-lighten-3" href="#!"><img src="image/icon/facebook.png"></a> </a></li>
            <li class="icon-social"><a class="grey-text text-lighten-3" href="#!"><img src="image/icon/gorjeo.png"></a> </a></li>
            <li class="icon-social"><a class="grey-text text-lighten-3" href="#!"><img src="image/icon/email.png"></a> </a></li>
          </ul>
	  		</div>
	  		<div class="col s12 m12 l4 div-footer">
	  			<div class="col s12 m12 l12">
	  				<p class="texto">Contáctanos:</p>
	  			</div>
	  			<div class="col s12 m12 l12">
	  				<input type="text" id="correo" name="correo" placeholder="E-mail">
	  			</div>
	  			<div class="col s12 m12 l12">
	  				<a class="waves-effect red btn modal-trigger" href="#modal1"> Contactanos</a>
	  			</div>

	  		</div>
  	</div>
  	<div class="footer-copyright">
  		<div class="container">
  			© 2016 Copyright,
            <a class="grey-text text-lighten-4 " href="https://facebook.com/startOx">StartOx</a>
  		</div>
  	</div>
</footer>

<!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
