<footer class="page-footer blue-grey darken-4">
  	<div class="row">
	  		<div class="col s12 m12 l4">
	  			<h5 translate="TITULO11"></h5>
          <p class="text-direction">Av. lomas de Toledo #456 Col. Industrial C.P. 09824, CDMX.<p>
	  		</div>
	  		<div class="col s12 m12 l4" >
	  			<p class="texto" translate="TITULO12"></p>
          <ul>
            <li class="icon-social"><a class="grey-text text-lighten-3" href="#!"><img src="image/icon/facebook.png"></a> </a></li>
            <li class="icon-social"><a class="grey-text text-lighten-3" href="#!"><img src="image/icon/gorjeo.png"></a> </a></li>
            <li class="icon-social"><a class="grey-text text-lighten-3" href="#!"><img src="image/icon/email.png"></a> </a></li>
          </ul>
	  		</div>
	  		<div class="col s12 m12 l4 div-footer">
	  			<div class="col s12 m12 l12">
	  				<p class="texto" translate="TITULO13"></p>
	  			</div>
	  			<div class="col s12 m12 l12">
	  				<a class="waves-effect red btn modal-trigger" href="#contactanos" translate="TITULO13"> </a>
	  			</div>

	  		</div>
  	</div>
  	<div class="footer-copyright">
  		<div class="container">
  			© 2016 Copyright,
            <a class="grey-text text-lighten-4 " href="https://facebook.com/startOx">StartOx</a>
  		</div>
  	</div>
</footer>

<!-- Modal contactanos -->
<div id="contactanos" class="modal" ng-controller="controllerContacto">
  <form name="formContacto" novalidate>
    <div class="modal-content">
      <h4>Contáctanos</h4>
      <p>Nombre:<input type="text" name="nombre" placeholder="Nombre"  ng-model="nombre" required>
      <span ng-show="formContacto.nombre.$error.required">Nombre Obligatorio</span>
      <p>Correo:</p><input type="email" name="email" placeholder="Correo" ng-model="email" required>
      <span ng-show="formContacto.email.$error.required">Correo Obligatorio</span>
      <span ng-show="formContacto.email.$error.email">Correo inválido</span>
      <p>Comentario:</p><input type="text" name="comentario" placeholder="Comentario" ng-model="comentario" class="materialize-textarea" required>
      <span ng-show="formContacto.comentario.$error.required">Comentario Obligatorio</span>
    </div>
    <div class="modal-footer">
      <input type="submit" class="waves-effect red btn" value="cancelar" ng-click="btnCancelar()">
      <input type="submit" class="waves-effect green btn" value="Enviar" ng-click="btnEnviar()" ng-disabled="formContacto.$invalid">
    </div>
  </form>
</div>