<nav class="nav blue-grey darken-3">
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Renault</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#/home">Inicio</a></li>
      <li><a href="#/somos">¿Quiénes Somos?</a></li>
      <li><a href="#/ofrecemos">¿Qué Ofrecemos?</a></li>
      <li><a href="#/costos">Costo del Servicio</a></li>
      <li><a href="#/aviso">Aviso de Privacidad</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="#/home">Inicio</a></li>
      <li><a href="#/somos">¿Quiénes Somos?</a></li>
      <li><a href="#/ofrecemos">¿Qué Ofrecemos?</a></li>
      <li><a href="#/costos">Costo del Servicio</a></li>
      <li><a href="#/aviso">Aviso de Privacidad</a></li>
    </ul>
  </div>
</nav>
