<nav class="nav teal blue-grey darken-4">
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Renault</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#/home" translate="TITULO2"></a></li>
      <li><a href="#/somos" translate="TITULO3"></a></li>
      <li><a href="#/ofrecemos">¿Qué Ofrecemos?</a></li>
      <li><a href="#/costos">Costo del Servicio</a></li>
      <li><a href="#/aviso">Aviso de Privacidad</a></li>
    </ul>
    <ul class="side-nav blue-grey darken-4" id="mobile-demo">
      <div>
        <h1 class="white-text center">LOGO</h1>
      </div>
      <div class="progress">
        <div class="indeterminate"></div>
      </div>
      <li><a class="white-text center" href="#/home"><i class="white-text large material-icons">store</i>Inicio</a></li><br>
      <li><a class="white-text center"href="#/somos"><i class="white-text large material-icons">perm_identity</i>¿Quiénes Somos?</a></li><br>
      <li><a class="white-text center"href="#/ofrecemos"><i class="white-text large material-icons">input</i>¿Qué Ofrecemos?</a></li><br>
      <li><a class="white-text center"href="#/costos"><i class="white-text large material-icons">payment</i>Costo del Servicio</a></li><br>
      <li><a class="white-text center" href="#/aviso"><i class="white-text large material-icons">subject</i>Aviso de Privacidad</a></li><br>
    </ul>
  </div>
</nav>
