<nav class="nav teal blue-grey darken-4">
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Renault</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#/home" translate="TITULO2"></a></li>
      <li><a href="#/somos" translate="TITULO3"></a></li>
      <li><a href="#/ofrecemos" translate="TITULO4"></a></li>
      <li><a href="#/costos" translate="TITULO5"></a></li>
      <li><a href="#/aviso" translate="TITULO6"></a></li>
    </ul>
    <ul class="side-nav blue-grey darken-4" id="mobile-demo">
      <div>
        <h1 class="white-text center">LOGO</h1>
      </div>
      <div class="progress">
        <div class="indeterminate"></div>
      </div>
      <li><a class="white-text center" href="#/home"><i class="white-text large material-icons">store</i><span translate="TITULO2"></span></a></li><br>
      <li><a class="white-text center"href="#/somos"><i class="white-text large material-icons">perm_identity</i><span translate="TITULO3"></span></a></li><br>
      <li><a class="white-text center"href="#/ofrecemos"><i class="white-text large material-icons">input</i><span translate="TITULO4"></span></a></li><br>
      <li><a class="white-text center"href="#/costos"><i class="white-text large material-icons">payment</i><span translate="TITULO5"></span></a></li><br>
      <li><a class="white-text center" href="#/aviso"><i class="white-text large material-icons">subject</i><span translate="TITULO6"></span></a></li><br>
    </ul>
  </div>
</nav>
