	<div class="slider fullscreen">
    <ul class="slides">
      <li>
        <img src="image/pic13.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h2>Wellcome To...</h2>
        </div>
      </li>
      <li>
        <img src="image/pic12.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3>Mira nuestros servicios</h3>
          <h5 class="light grey-text text-lighten-3">Siempre de la más alta calidad</h5>
        </div>
      </li>
      <li>
        <img src="image/pic3.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3>Seguridad y confianza</h3>
          <h5 class="light grey-text text-lighten-3">Nuestros clientes son lo más importante.</h5>
        </div>
      </li>
    </ul>
  </div>
	<script src="/scripts/functionsMaterialize.js"></script>
