<div class="parallax-container" ng-init="init()">
  <h1 class="header center white-text title-center">Somos</h1>
  <div class="parallax"><img src="image/somos3.jpg"></div>
</div>
<div class="somos-content">
  <div class="container">
    <h2 class="header center title-general"><i class="material-icons">perm_identity</i> Somos</h2>
  </div>
  <div class="container">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3 red"><a class="active white-text" href="#test1">Misión</a></li>
        <li class="tab col s3 red"><a class="white-text" href="#test2">Visión</a></li>
        <li class="tab col s3 red"><a class="white-text" href="#test3">Nosotros</a></li>
      </ul>
    </div>
    <div id="test1" class="col s12">
      <div class="container"><h2 class="center title-general">Misión</h2></div>
      <p class="text-justify">Nuestra Misión es Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum ipsam facere, odio accusamus atque, incidunt maiores esse labore vero officia voluptatibus dolorum non commodi quaerat minima, fuga consequatur sequi quia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima aspernatur, nulla error blanditiis earum fugit qui facere ratione temporibus laboriosam, illo? Esse veritatis repellat saepe error fugit quisquam? Accusamus, explicabo!</p>
      <div class="center-img">
        <img src="image/home-real.jpg" alt="Mision" width="680px">
      </div>
    </div>
    <div id="test2" class="col s12">
      <div class="container"><h2 class="center title-general">Visión</h2></div>
      <p class="text-justify">Nuestra Visión es Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum ipsam facere, odio accusamus atque, incidunt maiores esse labore vero officia voluptatibus dolorum non commodi quaerat minima, fuga consequatur sequi quia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima aspernatur, nulla error blanditiis earum fugit qui facere ratione temporibus laboriosam, illo? Esse veritatis repellat saepe error fugit quisquam? Accusamus, explicabo!</p>
      <div class="center-img">
        <img  src="image/home1.jpg" alt="Mision" width="680px">
      </div>
    </div>
    <div id="test3" class="col s12">
      <div class="container"><h2 class="center title-general">Nosotros</h2></div>
      <p class="text-justify">Nostros somos Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum ipsam facere, odio accusamus atque, incidunt maiores esse labore vero officia voluptatibus dolorum non commodi quaerat minima, fuga consequatur sequi quia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima aspernatur, nulla error blanditiis earum fugit qui facere ratione temporibus laboriosam, illo? Esse veritatis repellat saepe error fugit quisquam? Accusamus, explicabo!</p>
      <div class="center-img">
        <img  src="image/home-page-about.jpg" alt="Mision" width="680px">
      </div>
    </div>
  </div>

<div class="container somos-img-about">
  <div class="container">
    <h2 class="center title-general">Nuestros a sociados</h2>
  </div>
  <div class="row">
      <div class="col s12 m4 l4">
          <img src="image/rock.png" class="img-somos">
          <div class="text1">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
          </div>
      </div>
      <div class="col s12 m4 l4">
          <img src="image/rena.jpg" class="img-somos">
          <div class="text2">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
          </div>
      </div>
      <div class="col s12 m4 l4">
          <img src="image/planet.jpg" class="img-somos">
          <div class="text3">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
          </div>
      </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('ul.tabs').tabs();
  });
</script>
