<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SAO-WebSite</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!-- bower:css -->
     <link rel="stylesheet" href="lib/materialize/bin/materialize.css">
     <!-- endbower -->
     <!-- inject:css -->
     <link rel="stylesheet" href="/stylesheets/index.css">
     <!-- endinject -->
     <!-- Coloca favicon.ico y apple-touch-icon(s) en el directorio raíz -->
  </head>
  <body ng-app="myApp">
    <div class="contenido" ng-include="'components/header.html'"></div>
    <main ng-view></main>
    <div class="fixed-action-btn horizontal click-to-toggle" style="bottom: 45px; right: 24px;" ng-controller="Ctrl">
      <a class="btn-floating btn-large red">
        <i class="material-icons">language</i>
      </a>
      <ul>
        <li><a class="btn-floating" ng-click="changeLanguage('es')"><img src="image/icon/icono_mexico.png" alt="español" width="40px"></a></li>
        <li><a class="btn-floating" ng-click="changeLanguage('en')"><img src="image/icon/ico_usa.png" alt="ingles" width="40px"></a></li>
      </ul>
    </div>
    <div class="contenido-footer" ng-include="'components/footer.html'"></div>
     <!-- bower:js -->
     <script src="lib/jquery/jquery-2.2.4.js"></script>
     <script src="lib/materialize/bin/materialize.js"></script>
     <script src="lib/angular/angular.js"></script>
     <script src="lib/angular-resource/angular-resource.js"></script>
     <script src="lib/angular-route/angular-route.js"></script>
     <script src="lib/angular-resource/angular-resource.js"></script>
     <script src="lib/angular-sanitize/angular-sanitize.js"></script>
     <script src="lib/angular-translate/angular-translate.js"></script>
     <!-- endbower -->
     <!-- inject:js -->
     <script src="/scripts/functionsMaterialize.js"></script>
     <script src="/scripts/home.js"></script>
     <script src="/scripts/howMuch.js"></script>
     <script src="/scripts/main.js"></script>
     <!-- endinject -->
  </body>
</html>
