.body-aviso
  background-image: url(../image/interior.jpg)
	background-repeat: no-repeat
	background-attachment: fixed
	background-size: cover
	background-color: #464646
.aviso
  margin-top 10%
  margin-bottom 10%
  background-color rgba(128,128,128,0.8)
  text-align justify
  padding 3%
  border-radius 30px
  box-shadow 10px 10px 5px 0px rgba(0,0,0,0.75)
  h5
    font-size 28px
    text-align center
    color white
    font-weight bold
  span
    font-size 12px
    color white
