footer
  color #fff
  text-align center

input,label
  color white

span
  color red

.btn
  color white

.contactanos
  margin-top 10px 

.page-footer
  margin-top: 0 !important

.responsive-img
  padding-left 8px
  width 60px
  height 60px

.grey-text
  font-size 16px
  font-weight bold

.text-direction
  font-size 13px
  margin-top: 30px
  
.icon-social
  display: inline-block
  margin: 10px
