footer
  color #fff
  text-align center

input,label
  color white

.responsive-img
  padding-left 8px
  width 60px
  height 60px

.grey-text
  font-size 16px
  font-weight bold

.text-direction
  font-size 13px
  margin-top: 30px
.icon-social
  display: inline-block
  margin: 10px
