.cost-content
  margin-top: 100px
body
  background: #eceff1
.content-principal
  margin: 10px
.btn-sao
  width: 98%
  margin: 5px
.show-cost
  width: 100%
  min-height: 500px
  border-radius: 10px
  @media only screen and (max-width: 480px)
    margin-top: 20px
.title-cost
  width: 60%
  padding: 10px
  color: #bf360c
  border-bottom:1px solid #ccc
  background: #fff
  text-align: center
  font-size: 30px
  position: relative
  top: 10px
.content-cost
  margin: 20px
.title-total-cost
  width: 100%
  font-size: 30px
  color: #fff
  text-align: center
  border-radius: 5px
.content-total
  position: relative
  top: 30px
.title-general
  width: 100%
  padding: 10px
  color: #bf360c
  border-bottom:1px solid #ccc
  background: #fff
  text-align: center
  font-size: 30px
  position: relative
  top: 10px
