// Aqui importamos los archivos styl solo el nombre sin extensión
// Despues de eso hay que guardar el index.styl para poder ver los cambios

// cada cambio que hagamos en los archivos individuales tambien
// hay que guardar este archivo para poder ver los cambios.

@import 'home'
@import 'header'
@import 'footer'
@import 'howMuch'
@import 'aviso'
@import 'somos'
@import 'ofrecemos'
