.parallax-container {
  height: 800px;
}
@media (max-width: 448px) {
  .parallax-container {
    height: 660px;
  }
}
.text-main-home {
  margin-top: 100px;
}
.text-justify {
  text-align: justify;
}
.contenido {
  width: 100%;
  z-index: 999;
  position: fixed;
  top: 0;
}
.nav-wrapper ul li:hover {
  background: #d32f2f;
  transition: all 0.45s;
}
footer {
  color: #fff;
  text-align: center;
}
input,
label {
  color: #fff;
}
span {
  color: #f00;
}
.btn {
  color: #fff;
}
.contactanos {
  margin-top: 10px;
}
.page-footer {
  margin-top: 0 !important;
}
.responsive-img {
  padding-left: 8px;
  width: 60px;
  height: 60px;
}
.grey-text {
  font-size: 16px;
  font-weight: bold;
}
.text-direction {
  font-size: 13px;
  margin-top: 30px;
}
.icon-social {
  display: inline-block;
  margin: 10px;
}
.cost-content {
  margin-top: 100px;
}
body {
  background: #eceff1;
}
.container {
  width: 80%;
}
.content-principal {
  margin: 10px;
}
.btn-sao {
  width: 98%;
  margin: 5px;
}
.show-cost {
  width: 100%;
  min-height: 500px;
  border-radius: 10px;
}
@media only screen and (max-width: 480px) {
  .show-cost {
    margin-top: 20px;
  }
}
.title-cost {
  width: 95%;
  padding: 10px;
  color: #bf360c;
  border-bottom: 1px solid #ccc;
  background: #fff;
  text-align: center;
  font-size: 30px;
  position: relative;
  top: 10px;
}
.content-cost {
  margin: 20px;
}
.title-total-cost {
  width: 100%;
  font-size: 30px;
  color: #fff;
  text-align: center;
  border-radius: 5px;
}
.content-total {
  position: relative;
  top: 30px;
}
.title-general {
  width: 100%;
  padding: 10px;
  color: #bf360c;
  border-bottom: 1px solid #ccc;
  background: #fff;
  text-align: center;
  font-size: 30px;
  position: relative;
  top: 10px;
}
.title-center {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 6em;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  width: 100%;
  top: 40%;
}
.aviso-content {
  margin-top: 100px;
}
.body-aviso {
  background-image: url("../image/interior.jpg");
}
background-repeat: no-repeat {
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}
.aviso {
  margin-top: 10%;
  margin-bottom: 10%;
  background-color: rgba(128,128,128,0.8);
  text-align: justify;
  padding: 3%;
  border-radius: 30px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.aviso h5 {
  font-size: 28px;
  text-align: center;
  color: #fff;
  font-weight: bold;
}
.aviso span {
  font-size: 12px;
  color: #fff;
}
.somos-content {
  margin-top: 100px;
}
.somos .row {
  margin-top: 50px;
}
.img-somos {
  width: 100px;
  height: 100px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
}
.tabs .indicator {
  height: 6px;
  background-color: #b71c1c;
}
.somos-img-about {
  margin-top: 25px;
}
.center-img {
  text-align: center;
}
@media (max-width: 448px) {
  .center-img img {
    width: 300px;
  }
}
.ofrecemos-content {
  margin-top: 100px;
}
.sao {
  width: 100%;
  border-radius: 20px;
  color: #fff;
}
.detail-content {
  margin-top: 100px;
}
.detail-btn {
  width: 100%;
}
