.somos .row
  margin-top: 50px

.img-somos
  width 100px
  height 100px
  display block
  margin-right auto
  margin-left auto
  margin-bottom: 25px
.tabs .indicator
  height: 6px
  background-color: #b71c1c
